VITE_FIREBASE_API_KEY=AIzaSyA5LAEE6J-ipDPnBj5qmUj7Td9AzeXDfG8
VITE_FIREBASE_AUTH_DOMAIN=pokemon-mapa-501800.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pokemon-mapa-501800
VITE_API_BASE_URL=http://localhost:8080
